// colors
$white: #eeeeee;
$orange: #ff7100;
$red: #be3030;
$black: #222222;


// breakpoints
$bp-xs: 375px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1440px;

html{
  width: 100%;
  height: 100%;
}

body {
  margin: 0 30%;
  padding: 0;
  height: 100%;
  @media(max-width: $bp-md) {
    margin: 0 0;
  }
}

#root {
  height: 100%;
  .game-root {
    border: 0px 2px solid $black;
    height: 100%;
    -webkit-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75);
    @media(max-width: $bp-md) {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .header {
      border: 2px solid $black;
      text-align: center;
      padding: 20px 20px;
    }
    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .box {
        margin: 2% 2%;
        padding: 40px 40px;
        border: 2px solid $black;
        // height: 50px;
        height:auto;
        transform:scaleY(1); // implicit, but good to specify explicitly
        transform-origin:top; // keep the top of the element in the same place. this is optional.
        transition: 0.2s all;
        .characters {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .character {
            font-size: 126px;
            // background-color: red;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: 0.2s all;
            &:hover {
              box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75);
            }
            &.push-left {
              padding-right: 45px;
            }
            &.operand-character &.push-left {
              padding-right: 0px;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .button {
        border: 2px solid $black;
        margin: 10px;
        padding: 5px 10px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
          box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75);
        }
        &.two {
          width: 50%;
        }

      }
    }
  }
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    color: white;
    background-color: red;
    width: 50vw;
    padding: 50px;
    .button {
      border: 2px solid white;
      background-color: green;
      color: orange;
    }
  }
}
